<div class="container">
  <br><br><br><br><br><br>
  <div class="title">
    <h1 align="center">Welcome to Carioca Enterprise</h1>
  </div>
  <br><br><br><br>
  <div class="row">
    <div class="col-md-6" align="center">
      <a href="/new/retail/sale" class="btn btn-lg btn-success" style="color: #ffffff;">Start new retail sale</a>
    </div>
    <div class="col-md-6" align="center">
      <a href="/new/whole/sale" class="btn btn-lg btn-info" style="color: #ffffff;">Start new whole sale</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2">
      <br><br><br>
      <a href="/import/new" class="btn btn-lg bg-blue" style="margin-left: -20px; color: #ffffff;">Register new importation</a>
    </div>
    <div class="col-md-5"></div>
  </div>
</div>